.fig {
   text-align: center; /* Выравнивание по центру */ 
}

body{
	 color: #0f0; /* Цвет текста */   
   background: url(bgg.jpg) no-repeat;
   background-position: center center; 
   background-repeat: no-repeat;  
   background-attachment: fixed;   
   background-size: cover;
   background-color: #464646;
   border-collapse: collapse;
   object-fit: cover;
}
	 
th,td {
	width: 120px; height: 120px;
  text-align: center;
}

.st1
{
    background-color: #d3f1ff;
    font-family: Bradley Hand, cursive;
    font-style: italic;
    font-size: 50px;
    text-indent: 6em;
    color: Black;
}

.st1:hover
{
    background-color: #8eff96;
}

