.fig {
   text-align: center; /* Выравнивание по центру */ 
}

body{
   color: #0f0; /* Цвет текста */   
   background: url(WoWbg.jpg) no-repeat;
   background-position: center center; 
   background-repeat: no-repeat;  
   background-attachment: fixed;   
   background-size: cover;
   background-color: #464646;
   border-collapse: collapse;
   object-fit: cover;
}
	 
th,td {
	width: 120px; height: 120px;
  text-align: center;
}

.st1 {
    background-color: #ced9b7;
    font-family: monospace;
    font-style: italic;
    font-size: 21px;
    color: #136207;
}

.st2 {
    background-color: #e51515;
    font-family: cursive;
    font-style: italic;
    font-size: 21px;
    color: #a3c87d;
}

.st3 {
    background-color: #6db44a;
    font-family: 'Times New Roman', Times, serif;;
    font-style: italic;
    font-size: 21px;
    text-indent: 3em
    color: #6db44a;
}

.st1:hover {
    background-color: #aac836;
}

.st2:hover {
    background-color: #0f4a88;
}

.st3:hover {
    background-color: #ebf0a6;
}

