th, td{
  width: 40px;
  height: 40px;
  text-align: center;
}

table{
  width:  auto;
  height: auto;
  animation-delay: : center;
  margin: auto;
}

.fig {
   text-align: center; /* Выравнивание по центру */ 
}

  body{
	 color: #000000; /* Цвет текста */   
         background: url(StellarisBG.jpg) no-repeat;
         background-position: center center; 
         background-repeat: no-repeat;  
         background-attachment: fixed;   
         background-size: cover;
         background-color: #40533d;
         border-collapse: collapse;
         object-fit: cover;
        }
	 
 .textfeld {
    font: italic 30px "Italic",monospace;
    border: 10px solid Black;
    padding: 20px ;
    margin-left: 30%;
    margin-right: 30%;
    opacity: 0.8;
    background: #2b5569;
    text-align: center;
}
