
.section_cintent {
  max-width: 1200px;
}

@media screen and (max-width: 400px) {
  .header_title {
    font-size: 36px;
  }
  .head_sub-title {
    font-size: 21px;
  }
  .message {
    float: left;
    width: 33%;
    min-width: 265px;
    padding-bottom: 24px;
    vertical-align: top;
  }
}

.header_messages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.message {
  max-width: 360px;
  flex-grow: 1;
  flex_shrink: 1;
  flex-basis: 260px;
  /* flex: 1 1 260px; */
}

@media (max-width: 520px) {
  .massage {
    flex-direction: row;
  }
  .image {
    padding: 24px 16px 0 0;
  }
}

