
.section_cintent {
  max-width: 1200px;
}

@media screen and (max-width: 400px) {
  .header_title {
    font-size: 36px;
  }
  .head_sub-title {
    font-size: 21px;
  }
  .message {
    float: left;
    width: 33%;
    min-width: 265px;
    padding-bottom: 24px;
    vertical-align: top;
  }
}

.header_messages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.message {
  max-width: 360px;
  flex-grow: 1;
  flex_shrink: 1;
  flex-basis: 260px;
  /* flex: 1 1 260px; */
}

@media (max-width: 520px) {
  .massage {
    flex-direction: row;
  }
  .image {
    padding: 24px 16px 0 0;
  }
}

 body{
	       color: #000000; /* Цвет текста */   
         background: url(W3wallpaper.jpg) no-repeat;
         background-position: center center; 
         background-repeat: no-repeat;  
         background-attachment: fixed;   
         background-size: cover;
         background-color: #F4A460;
         border-collapse: collapse;
         object-fit: cover;
        }
	 
 .textfeld {
    font: italic 30px "Italic",monospace;
    border: 5px solid Black;
    padding: 5px;
    margin-left: 10%;
    margin-right: 10%;
    opacity: 0.8;
    background: #F4A460;
    text-align: left;
}

th, td{
  width: 40px;
  height: 40px;
  text-align: center;
}

table{
  width:  auto;
  height: auto;
  animation-delay: : center;
  margin: auto;
}
