@media (max-width: 1980px) {
  body{
	 color: #000000; /* Цвет текста */   
         background: url(W3wallpaper.jpg) no-repeat;
         background-position: center center; 
         background-repeat: no-repeat;  
         background-attachment: fixed;   
         background-size: cover;
         background-color: #F4A460;
         border-collapse: collapse;
         object-fit: cover;
        }
 .img1 {
    width: 250px;
 }
        
 .img2 {
    width: 500px;
 }

 .Text1{
    color: #ffffff;
    text-align: left;
 }

 .Text2{
 	color: #15ec0e;
 	text-align:right;
 }

 .Header {
    font: italic 150px "Italic",monospace;
    border: 10px solid Black;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0.8;
    background: #40533d;
    text-align: left;
}

 	.content {
    		font: italic 150px "Italic",monospace;
    		border: 5px solid Black;
    		padding: 5px;
    		margin-left: 10%;
    		margin-right: 10%;
    		opacity: 0.8;
    		background: #40533d;
    		text-align: left;
	}

	th, td{
 		width: 40px;
 	 	height: 40px;
  		text-align: center;
	}

	.zg {
		background: #2a46d0a8;
		color: #ffffff;
		text-align: center;
	}

	table{
  		width:  auto;
 		height: auto;
  		animation-delay: : center;
  		margin: auto;
  		border: 6;
	}
}

@media (max-width: 1600px) {
  body{
	 color: #000000; /* Цвет текста */   
         background: url(W3wallpaper.jpg) no-repeat;
         background-position: center center; 
         background-repeat: no-repeat;  
         background-attachment: fixed;   
         background-size: cover;
         background-color: #F4A460;
         border-collapse: collapse;
         object-fit: cover;
        }
 
 .Header {
    font: italic 150px "Italic",monospace;
    border: 5px solid Black;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0.8;
    background: #40533d;
    text-align: left;
}

 	.content {
    		font: italic 150px "Italic",monospace;
    		border: 5px solid Black;
    		padding: 5px;
    		margin-left: 10%;
    		margin-right: 10%;
    		opacity: 0.8;
    		background: #40533d;
    		text-align: left;
	}

	th, td{
 		width: 40px;
 	 	height: 40px;
  		text-align: center;
	}

	.zg {
		background: #1581e2;
		color: #fafafa;
		text-align: center;
	}

	table{
  		width:  auto;
 		height: auto;
  		animation-delay: : center;
  		margin: auto;
  		border: 6;
	}
}

@media (max-width: 900px) {
  body{
	 color: #000000; /* Цвет текста */   
         background: url(W3wallpaper.jpg) no-repeat;
         background-position: center center; 
         background-repeat: no-repeat;  
         background-attachment: fixed;   
         background-size: cover;
         background-color: #F4A460;
         border-collapse: collapse;
         object-fit: cover;
        }
 
 .Header {
    font: italic 150px "Italic",monospace;
    border: 5px solid Black;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0.8;
    background: #40533d;
    text-align: left;
}

 	.content {
    		font: italic 150px "Italic",monospace;
    		border: 5px solid Black;
    		padding: 5px;
    		margin-left: 10%;
    		margin-right: 10%;
    		opacity: 0.8;
    		background: #40533d;
    		text-align: left;
	}

	th, td{
 		width: 40px;
 	 	height: 40px;
  		text-align: center;
	}

	.zg {
		background: #1581e2;
		color: #fafafa;
		text-align: center;
	}

	table{
  		width:  auto;
 		height: auto;
  		animation-delay: : center;
  		margin: auto;
  		border: 6;
	}
}

@media (max-width: 400px) {
  body{
	 color: #000000; /* Цвет текста */   
         background: url(W3wallpaper.jpg) no-repeat;
         background-position: center center; 
         background-repeat: no-repeat;  
         background-attachment: fixed;   
         background-size: cover;
         background-color: #F4A460;
         border-collapse: collapse;
         object-fit: cover;
        }
 
 .Header {
    font: italic 150px "Italic",monospace;
    border: 5px solid Black;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0.8;
    background: #40533d;
    text-align: left;
}

 	.content {
    		font: italic 150px "Italic",monospace;
    		border: 5px solid Black;
    		padding: 5px;
    		margin-left: 10%;
    		margin-right: 10%;
    		opacity: 0.8;
    		background: #40533d;
    		text-align: left;
	}

	th, td{
 		width: 40px;
 	 	height: 40px;
  		text-align: center;
	}

	.zg {
		background: #1581e2;
		color: #fafafa;
		text-align: center;
	}

	table{
  		width:  auto;
 		height: auto;
  		animation-delay: : center;
  		margin: auto;
  		border: 6;
	}
}
