		.navbar {
        margin-bottom: 0;
        border-radius: 0;
        }

        .row.content {
        	height: 921px 
        }
        
        .sidenav {
        padding-top: 20px;
        background-color: #f1f1f1;
        height: 100%;
        }
        .Welcome {
        text-align: center;
        }
        
        footer {
        background-color: #555;
        color: white;
        padding: 15px;
		}
		
		@media screen and (max-width: 767px) {
		.sidenav {
		height: auto;
		padding: 15px;
		}
		.row.content {height:auto;} 
		}
		
		.img_Paintings{
		width: 439px;
		height: 375px;
		}
		
		.header_h3 {
		color: #46b823;
		text-align: center;
		font-size: 30px;
		}
		
		.Museum_h3 {
		color: #46b823;
		text-align: center;
		font-size: 40px;
		}
		
		.glyphicon glyphicon-log-in {
		height: 10px;
		}
		
		.buttons_header{
		text-align: center;
		}
		
		.fig {
		text-align: center;
		}
		
		.Author {
		width: 45px;
		height: 70px;
		}
		
		.Background_Start {
		color: #000000;
		font: italic 30px "Italic",monospace;
		border: 5px solid Black;
		padding: 5px;
		opacity: 0.8;
		background: #33ccff;
		text-align: left;
		}
		
		.Title  {
		font: italic 30px "Italic",monospace;
		border: 5px solid Black;
		padding: 5px;
		margin-left: 40%;
		margin-right: 40%;
		opacity: 0.8;
		background: #33ccff;
		text-align: left;
		}
		
		.Title_text { 
		text-shadow: 1px 1px 2px black, 0 0 1em red; 
		color: black; 
		font-size: 2em; 
		}
		
		hr {
		border: none; 
		background-color: #33ccff; 
		color: #33ccff; 
		height: 5px; 
		}

		.btn-success {
			width: 100px;height: 34px;
			margin-left: 10px; 
			margin-right: 10px;
		}

		.style1{
			background: url(Background_1.png) no-repeat;
			background-position: center center; 
			background-repeat: no-repeat; 
			background-attachment: fixed; 
			background-size: cover; 
			background-color: #F4A460; 
			border-collapse: collapse; 
			object-fit: cover;
		}

		.style2{
			border-top-width: 15px; 
			border-bottom-width: 15px;		
		}

		.style3{
			height: 880px;
		}

		.style4{
			height: 130px; 
			width: 130px;
		}

		.style5{
			color: #0CFF00;
		}

		.style6{
			height: 280px; 
			top: 20px; 
			right: 20px; 
			left: 10px; 
			width: 290px;
		}

		.style7{
			height: 240px;
		}

		.style8{
			width: 149px;
		}

		.style9{
			padding-top: 10px;
		}

		.style10{
			text-align: right; 
			margin-top: 29px;
		}