  body{
	 color: #000000; 
         background: url(W3wallpaper.jpg) no-repeat;
         background-position: center center; 
         background-repeat: no-repeat;  
         background-attachment: fixed;   
         background-size: cover;
         background-color: #F4A460;
         border-collapse: collapse;
         object-fit: cover;
        }
 .img1 {
    width: 225px;
 }
 .sidebar{
	 display: flex;
	 flex: 25%;
		float: right;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
    		font: italic 120px "Times New Roman", Times, serif;
    		border: 5px solid Black;
    		padding: 5px;
    		opacity: 0.8;
    		background: #40533d;
 }      
 .img2 {
    width: 450px;
 }
 .textbox{
	 color: white;
	 display:flex;
	 flex:50%;
	 flex-direction: column;
	 border: 5px solid Black;
     padding: 5px;
     opacity: 0.8;
     background: #40533d;
	 font-size: 36px;
 }
body{
	margin: 0;
}
 .Text1{
    color: #ffffff;
    text-align: left;
 }

 .Text2{
 	color: #15ec0e;
 	text-align:right;
 }

 .Header {
    font-family: "Times New Roman", Times, serif;
    border: 10px solid Black;
    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    opacity: 0.8;
    background: #40533d;
    text-align: center;
	text-shadow: 3px 2px red;
}

.TextHeader {
		font-size: 150px;
	}
.Footer{
	display: flex;
	flex: 100%;
	background: red;
	height: 130px;
}
 	.content {
		display: flex;
		flex: 25%;
		max-width: 700px;
		float: left;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
    		font: italic 120px "Times New Roman", Times, serif;
    		border: 5px solid Black;
    		padding: 5px;
    		opacity: 0.8;
    		background: #40533d;
	}

	th, td{
		font-size: 50px;
 		width: 40px;
 	 	height: 40px;
	}
	h1{
		border-bottom-color: #00ff40;
		text-decoration: underline;
	}
	h2{
		border-bottom-color: #00ff40;
		text-decoration: underline;
	}
	tr{
		display: flex;
	}
	td:nth-child(1){
		color: #ffffff;
		flex: 70%;
		text-align: left;
		font-size: 30px;
		letter-spacing: -1px;
	}
	td:nth-child(2){
		color: #ffffff;
		flex: 30%;
		text-align: right;
		font-size: 28px;
		letter-spacing: -1px;
	}

	.zg1 {
		background: #2a46d0a8;
		font-family: "Times New Roman", Times, serif;
		color: #ffffff;
		font-size: 75px;
		text-align: center;
		width: 100%;
	}
	
	.zg2 {
		background: #2a46d0a8;
		font-family: "Times New Roman", Times, serif;
		color: #ffffff;
		font-size: 60px;
		text-align: center;
		width: 100%;
		margin-top: 10px;
	}

	table{
		font-family: "Times New Roman", Times, serif;
		width: 100%;
 		height: auto;
  		animation-delay: : center;
  		margin: auto;
  		border: 6;
	}
	@media(max-width: 1700px){
		.TextHeader {
		font-size: 100px;
	}
		@media(max-width: 1057px){
		.TextHeader {
		font-size: 80px;
	}
	.content{
		max-width: none;
		width: 97%;
	}
	}
